@use "./variables" as *;

@mixin respond-to($breakpoint) {
  @if $breakpoint == small {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $breakpoint == medium {
    @media (max-width: 768px) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$breakpoint}` no definido.";
  }
}

@include respond-to(small) {
  .page--index {
    .titulo {
      .titulo__contenido {
        .titulo__h1 {
          font-size: 2.6rem;
          padding: 0 40px;
        }

        .titulo__p {
          font-size: 1rem;
          padding: 20px 80px;
        }
      }
    }

    

    .vinos {
      .wine-2,
      .wine-3 {
        display: none
      }
    }
  }
}

@include respond-to(medium) {
  .page--index {
    .vinos {
      .wine-4,
      .wine-5,
      .wine-6 {
        display: none;
      }
    }
  }
}
