@use "../partials/variables" as *;
@use "../partials/typography";

.page--contacto {
  header {
    .navbar {
      box-shadow: 0px 0px 100px 100px #000;
      z-index: 1;
    }
  }

  .contacto-head {
    h2 {
      font-family: "EB Garamond";
    }
  }

  .formulario {
    padding: 1rem;
    max-width: 500px;
    margin: 0 auto;

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      div {
        display: flex;
        flex-direction: column;

        label {
          font-family: "EB Garamond";
          margin-bottom: 0.5em;
          font-weight: 600;
        }

        input,
        textarea {
          padding: 0.75em;
          border: 1px solid #ddd;
          font-size: 1em;

          &::placeholder {
            color: #aaa;
          }

          &:focus {
            outline: none;
            border-color: $secondary-color;
          }
        }
      }

      button {
        align-self: flex-start;
        padding: 0.50em 1.5em;
        background: $secondary-color;
        color: #ffffff;
        border: none;
        font-size: 1em;
        cursor: pointer;
        transition: background 0.2s ease;

        &:hover,
        &:focus {
          background: $third-color;
        }
      }
    }
  }

  .section-mapa {
    padding: 2rem 0;
    text-align: center;
    background-color: $primary-color;

    h2 {
      font-family: "Poppins";
      font-size: 1.2rem;
      color: $third-color;
      margin-bottom: 1rem;
    }

    iframe {
      width: 100%;
      max-width: 800px;
      height: 400px;
      border: none;
      border-radius: 0.5rem;
    }
  }
}

// Responsive
@import "../partials/responsive";