@use "../partials/variables" as *;
@use "../partials/typography";
@use "../partials/responsive";

.page--familia {
  main {
    .lapiramide {
      .la-piramide {
        font-family: "EB Garamond";
        font-size: 1.2rem;
      }

      .firma {
        font-family: "EB Garamond";
        font-size: 1rem;
        color: $alternative-color;
      }

      .la-piramide-p {
        font-family: "Poppins";
        text-align: justify;
        font-size: 1rem;
        font-weight: 300;
      }

      .la-piramide-button {
        background-color: $secondary-color;
        border: solid 1px $secondary-color;
        color: $third-color;
        width: auto;
        font-size: 0.9rem;
      }
    }

    .section-nicolas {
      .section-nicolas-catena {
        background-color: #f3efe9;

        .section-ncz-p1 {
          font-family: "EB Garamond";
          font-size: 1.2rem;
        }

        .section-ncz-p2 {
          font-family: "EB Garamond";
          font-size: 0.9rem;
          color: $alternative-color;
        }
      }

      .section-nicolas-p {
        padding: 20px 5vw;
      }

      .section-nicolas-button {
        background-color: #cfc3b7;
        border: solid 1px #cfc3b7;
        color: white;
      }
    }
  }
}
