@use "../partials/variables" as *;
@use "../partials/typography";

%btn-base {
  background-color: $secondary-color;
  border: solid 1px $secondary-color;
  color: $just-white;
  width: auto;
  font-size: 0.9rem;
  transition: background 0.3s ease, border 0.3s ease;
}
%btn-base-hover {
  background-color: $third-color;
  border: solid 1px $third-color;
}

.page--familia {
  header {
    .navbar {
      box-shadow: 0px 0px 100px 100px #000;
      z-index: 1;
    }
  }

  main {
    .lapiramide {
      h1 {
        font-family: "EB Garamond";
      }
      .la-piramide {
        font-family: "EB Garamond";
        font-size: 1.2rem;
      }

      .firma {
        font-family: "EB Garamond";
        font-size: 1rem;
        color: $alternative-color;
      }

      .la-piramide-p {
        font-family: "Poppins";
        text-align: justify;
        font-size: 1rem;
        font-weight: 300;
      }

      .la-piramide-button {
        @extend %btn-base;

        &:hover {
          @extend %btn-base-hover;
        }
      }
    }

    .section-nicolas {
      .section-nicolas-catena {
        background-color: #f3efe9;

        .section-ncz-p1 {
          font-family: "EB Garamond";
          font-size: 1.2rem;
        }

        .section-ncz-p2 {
          font-family: "EB Garamond";
          font-size: 0.9rem;
          color: $alternative-color;
        }
      }

      .section-nicolas-p {
        padding: 20px 5vw;
      }

      .section-nicolas-button {
        @extend %btn-base;

        &:hover {
          @extend %btn-base-hover;
        }
      }
    }
  }
}

// Responsive
@import "../partials/responsive";

@include respond-to(small) {
  .page--familia {
    header {
      .navbar {
        box-shadow: 0px 0px 35px 30px #000;
        z-index: 1;
      }
    }

    .lapiramide {
      padding: 0px 10%;
    }
  }
}
