@use "../partials/variables" as *;
@use "../partials/typography";

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page--index {
  /* seccion de titulo */
  header {
    .navbar {
      box-shadow: 0px 0px 100px 100px #000;
      z-index: 1;
    }
  }

  .titulo {
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .titulo__contenido {
      position: absolute;
      text-align: center;
      z-index: 1;

      .titulo__h1 {
        color: white;
        font-weight: 700;
        font-size: 4rem;
        animation: fade-up 0.8s ease;
      }

      .titulo__p {
        padding: 20px 25vw;
        color: white;
        font-size: 1.2rem;
        font-weight: 300;
        animation: fade-up 0.8s ease;
      }

      button {
        background-color: #111;
        border: solid 1px #111;
        color: white;
        padding: 5px 30px 5px 30px;
        font-size: 0.9rem;
        transition: background-color 0.3s ease, border 0.3s ease;
      }

      button:hover {
        background-color: $third-color;
        border: solid 1px $third-color;
      }
    }

    .titulo__capa {
      width: 100%;
      height: 100%;
      background-color: #0006;
      position: absolute;
      z-index: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  /* seccion de vinos */
  .vinos {
    .hover-wrapper {
      transition: transform 0.8s;

      .wine-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .vinos-button {
    background-color: #111;
    border: solid 1px #111;
    color: white;
    font-size: 0.9rem;
    transition: background-color 0.3s ease, border 0.3s ease;

    &:hover {
      background-color: $secondary-color;
      border: solid 1px $secondary-color;
    }
  }

  /* seccion de experiencias */
  .titulo-experiencies {
    .titulo-experiencies__titulo2 {
      font-family: "EB Garamond";
    }
  }
  .experiences {
    .experiences__container {
      height: 40vh;
      overflow: hidden;

      .experiences__container__item--opacity {
        background-color: $just-black;
        opacity: 25%;
        transition: opacity 0.5s ease;
      }

      &:hover {
        .experiences__container__item--opacity {
          opacity: 50%;
        }

        .experiences__container__item.img {
          transform: scale(1.1);
        }
      }

      .experiences__container__item {
        font-family: "EB Garamond";
        &.img {
          transition: transform 0.5s ease;
        }
      }
    }

    .offcanvas {
      .offcanvas-header {
        .offcanvas-title {
          font-family: "EB Garamond";
        }
      }

      .offcanvas-body {
        p {
          font-size: 0.9rem;
        }
        ul {
          li {
            font-size: 0.9rem;
          }
        }
        .experience-button {
          background-color: #111;
          border: solid 1px #111;
          color: white;
          font-size: 0.9rem;
          transition: background-color 0.3s ease, border 0.3s ease;

          &:hover {
            background-color: $third-color;
            border: solid 1px $third-color;
          }
        }
      }
    }
  }
}

/* ======== Responsive ======== */
@import "../partials/responsive";

@include respond-to(small) {
  .page--index {
    .titulo {
      .titulo__contenido {
        .titulo__h1 {
          font-size: 2.6rem;
          padding: 0 40px;
        }
        .titulo__p {
          font-size: 1rem;
          padding: 20px 80px;
        }
      }
    }
    .vinos {
      .hover-wrapper {
        .wine-2,
        .wine-3 {
          display: none;
        }
      }
    }
  }
}

@include respond-to(medium) {
  .page--index {
    .vinos {
      .hover-wrapper {
        .wine-4,
        .wine-5,
        .wine-6 {
          display: none;
        }
      }
    }
  }
}
